.admin-dashboard-in-order {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: lightblue;
    background-image: url(minimalist-gradient-background-design.avif);
    background-size: 100% 100%;
}
